
{block content}
    <div class="container">

        <img class="border-0 rounded mx-auto d-block" src="{$basePath}/img/congra.jpg">
         </br>
        </br>
        </br>
        <h1 class="h1">
            <p class="text-center">Registrace dokončena</p>
        </h1>
    </div>

{/block}